<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>整型医院</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/minireset.css/0.0.2/minireset.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="./less/index.css">
</head>

<body>
    <div class="bar">
        <div class="warpper">
            <ul class="contact">
                <li>
                    <i class="fa fa-phone"></i>
                    1-677-124-44227
                </li>
                <li>
                    <i class="fa fa-map-marker"></i>
                    Los Angeles Gournadi, 1230 Bariasl
                </li>
                <li>
                    <i class="fa fa-clock-o"></i>
                    Mon to Sat 9:00am to 18:00pm
                </li>
            </ul>
            <div class="icons">
                <i class="fa fa-facebook"></i>
                <i class="fa fa-twitter"></i>
                <i class="fa fa-instagram"></i>
                <i class="fa fa-dribbble"></i>
            </div>
        </div>
    </div>
    <header>
        <div class="warpper">
            <div class="logo">AESTHETIC</div>
            <ul>
                <li><a href="#">home</a></li>
                <li><a href="#">about</a></li>
                <li><a href="#">services</a></li>
                <li>
                    <a href="#">pages</a>
                    <ul class="sub-menu">
                        <li>Pricing</li>
                        <li>Dortor</li>
                        <li>Blog Details</li>
                    </ul>
                </li>
                <li><a href="#">news</a></li>
                <li><a href="#">contact</a></li>
                <div style="clear: both;"></div>
            </ul>
            <button>appointment</button>
            <div style="clear: both;"></div>
        </div>
    </header>
    <div class="banner">
        <div class="ban-info">
            <div class="txt">
                <p>EIUSMOD TEMPOR INCIDIDUNT</p>
                <h3>Take the world's best quality Treadment</h3>
                <button>contact us</button>
            </div>
        </div>
    </div>
    <section class="aesthtic">
        <div class="warpper">
            <form action="">
                <p>REQUEST FOR YOUR</p>
                <h3>Consultation</h3>
                <input type="text" placeholder="Name">
                <input type="text" placeholder="Email">
                <input type="text" placeholder="Data">
                <select>
                    <option value="Type of service">Type of service1</option>
                    <option value="Type of service">Type of service2</option>
                    <option value="Type of service">Type of service3</option>
                </select>
                <button>BOOK APPOITMENT</button>
            </form>
            <div class="info">
                <div class="title">
                    <span>WELCON TO AESTHETIC</span>
                    <h3>Find Best Doctors With <span>AESTHETIC</span></h3>
                    <p>30 Years of experience in Cosmetic
                        Surgery.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="video"></div>
            </div>
        </div>
    </section>

    <div class="offer">
        <div class="warpper">
            <div class="title">
                <h3>
                    <p class="sub-title">
                        WHY CHOOSE US?
                    </p>
                    <p class="main-title">
                        Offer for you
                    </p>
                </h3>
            </div>
            <div class="content">
                <div class="card">
                    <img src="./ci-1.png" alt="">
                    <h4>Advanced equipment</h4>
                    <p>
                        Lorem ipsum amet, consectetur adipiscing elit, sed do eiusmod tempor cididunt facilisis.
                    </p>
                </div>
                <div class="card">
                    <img src="./ci-1.png" alt="">
                    <h4>Advanced equipment</h4>
                    <p>
                        Lorem ipsum amet, consectetur adipiscing elit, sed do eiusmod tempor cididunt facilisis.
                    </p>
                </div>
                <div class="card">
                    <img src="./ci-1.png" alt="">
                    <h4>Advanced equipment</h4>
                    <p>
                        Lorem ipsum amet, consectetur adipiscing elit, sed do eiusmod tempor cididunt facilisis.
                    </p>
                </div>
                <div class="card">
                    <img src="./ci-1.png" alt="">
                    <h4>Advanced equipment</h4>
                    <p>
                        Lorem ipsum amet, consectetur adipiscing elit, sed do eiusmod tempor cididunt facilisis.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="services">
        <div class="warpper">
            <div class="header">
                <div class="title">
                    <p>OUR SERVICES</p>
                    <h3>Offer for you</h3>
                </div>
                <button class="btn">CONTACT US</button>
            </div>
            <div class="list">
                <div class="card">
                    <img src="../02-布局/ci-1.png" alt="">
                    <div class="info">
                        <h3>Body procedures</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor aliqua.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="../02-布局/ci-1.png" alt="">
                    <div class="info">
                        <h3>Body procedures</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor aliqua.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="../02-布局/ci-1.png" alt="">
                    <div class="info">
                        <h3>Body procedures</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor aliqua.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="../02-布局/ci-1.png" alt="">
                    <div class="info">
                        <h3>Body procedures</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor aliqua.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="doctors">
        <div class="warpper">
            <header>
                <p>OUR TEAM</p>
                <h3>Our Expert Doctors</h3>
            </header>
            <ul class="list">
                <li class="item">
                    <img src="./team-1.jpg" alt="">
                    <h3>Caroline Grant</h3>
                    <p>Plastic surgeon</p>
                    <div class="icons">
                        <i class="fa fa-facebook"></i>
                        <i class="fa fa-twitter"></i>
                        <i class="fa fa-instagram"></i>
                        <i class="fa fa-dribbble"></i>
                    </div>
                </li>
                <li class="item">
                    <img src="./team-1.jpg" alt="">
                    <h3>Caroline Grant</h3>
                    <p>Plastic surgeon</p>
                    <div class="icons">
                        <i class="fa fa-facebook"></i>
                        <i class="fa fa-twitter"></i>
                        <i class="fa fa-instagram"></i>
                        <i class="fa fa-dribbble"></i>
                    </div>
                </li>
                <li class="item">
                    <img src="./team-1.jpg" alt="">
                    <h3>Caroline Grant</h3>
                    <p>Plastic surgeon</p>
                    <div class="icons">
                        <i class="fa fa-facebook"></i>
                        <i class="fa fa-twitter"></i>
                        <i class="fa fa-instagram"></i>
                        <i class="fa fa-dribbble"></i>
                    </div>
                </li>
            </ul>
        </div>
    </section>

    <section class="gallery">
        <ul class="left">
            <li class="envelope">
                <div class="envelop">
                    <i class="fa fa-search-plus"></i>
                    <!-- fa fa-search-plus -->
                    <!-- 124, 191, 201 -->
                </div>
            </li>
            <li class="envelope">
                <div class="envelop">
                    <i class="fa fa-search-plus"></i>
                </div>
            </li>
            <li class="envelope">
                <div class="envelop">
                    <i class="fa fa-search-plus"></i>
                </div>
            </li>
            <li class="envelope">
                <div class="envelop">
                    <i class="fa fa-search-plus"></i>
                </div>
            </li>
            <li class="envelope">
                <div class="envelop">
                    <i class="fa fa-search-plus"></i>
                </div>
            </li>
            <li class="envelope">
                <div class="envelop">
                    <i class="fa fa-search-plus"></i>
                </div>
            </li>
        </ul>
        <div class="right envelope">
            <div class="envelop">
                <i class="fa fa-search-plus"></i>
            </div>
        </div>
    </section>

    <section class="news">
        <div class="warpper">
            <header>
                <div class="title">
                    <p>OUR NEWS</p>
                    <h3>Skin care tips</h3>
                </div>
                <button>view all news</button>
            </header>
            <ul>
                <li>
                    <div>
                        <a href="#">Here’s how you can get a natural glow this party season</a>
                        <p>Lorem ipsum, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                        <div>
                            <img src="./imgs/blog-author.jpg" alt="">
                            <span class="name"> John Doe</span>
                            <span class="time"> Dec 06, 2019</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div>
                        <a href="#">Here’s how you can get a natural glow this party season</a>
                        <p>Lorem ipsum, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                        <div>
                            <img src="./imgs/blog-author.jpg" alt="">
                            <span class="name"> John Doe</span>
                            <span class="time"> Dec 06, 2019</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div>
                        <a href="#">Here’s how you can get a natural glow this party season</a>
                        <p>Lorem ipsum, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                        <div>
                            <img src="./imgs/blog-author.jpg" alt="">
                            <span class="name"> John Doe</span>
                            <span class="time"> Dec 06, 2019</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>

    <footer>
        <div class="contact">
            <div class="warpper">
                <div class="top">
                    <div class="txt">aesthetic</div>
                    <form action="">
                        <input type="text" placeholder="Email">
                        <button>subscribe</button>
                    </form>
                    <ul class="icons">
                        <li>
                            <i class="fa fa-facebook"></i>
                        </li>
                        <li>
                            <i class="fa fa-twitter"></i>
                        </li>
                        <li>
                            <i class="fa fa-instagram"></i>
                        </li>
                        <li>
                            <i class="fa fa-dribbble"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="menu">
            <ul class="left">
                <li>
                    <ul>
                        <li class="title">
                            <h3>Company</h3>
                        </li>
                        <li>About Us</li>
                        <li>Departments</li>
                        <li>Find a Doctor</li>
                        <li>FAQ</li>
                        <li> News</li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <li class="title">
                            <h3>Quick links</h3>
                        </li>
                        <li>Facial Fillers</li>
                        <li>Breast Surgery</li>
                        <li>Body Lifts</li>
                        <li>Face & Neck</li>
                        <li>Fat Reduction</li>
                    </ul>
                </li>
                <li>
                    <ul class="icons">
                        <li class="title">
                            <h3>Contact Us</h3>
                        </li>
                        <li>
                            <div class="icon">
                                <i class="fa fa-map-marker"></i>
                            </div>
                            Los Angeles Gournadi, 1230 Bariasl
                        </li>
                        <li>
                            <div class="icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            1-677-124-44227
                        </li>
                        <li>
                            <div class="icon">
                                <i class="fa fa-envelope"></i>
                            </div>
                            Support@gmail.com
                        </li>
                    </ul>
                </li>

            </ul>
            <div class="map"></div>
            <!-- </div> -->
        </div>
        <div class="footer-txt">
            <div class="left">
                <span>Copyright © 2022 All rights reserved | This template is made with <i class="fa fa-heart"
                        aria-hidden="true"></i>by <a href="#">17sucai</a></span>
            </div>
            <div class="right">
                <span>All Rights Reserved Terms & Use Privacy Policy</span>
            </div>
        </div>
    </footer>
    <script>
        const item = document.querySelectorAll('.envelope')
        const lop = document.querySelectorAll('.envelop')
        item.forEach((it,index) => {
            it.addEventListener('mouseover',function(){
                lop[index].style.opacity = '1'
            })
            it.addEventListener('mouseout',function(){
                lop[index].style.opacity = '0'
            })
        })
    </script>
</body>

</html>