<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>服装私人订制网站</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/minireset.css/0.0.2/minireset.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="./less/style.css">
</head>

<body>
    <nav id="nav">
        <div class="warp clear">
            <div class="logo fl">Dress<span>-Up</span></div>
            <ul class="menu fl clear">
                <li><a href="#">home</a></li>
                <li><a href="#">about</a></li>
                <li><a href="#">services</a></li>
                <li><a href="#">content</a></li>
            </ul>
            <div class="search fr">
                <input type="text" placeholder="Enter keyword" /><button class="fa fa-search"></button>
                <i class="fa fa-moon-o"></i>
            </div>
        </div>
    </nav>
    <!-- banner -->
    <div class="banner">
        <!-- 笼罩 -->
        <div class="envelop"></div>
        <div class="warp">
            <div class="main">
                <div>NEW MODELS</div>
                <h1>EMBRACE <span>YOUR</span> STYLE</h1>
                <button>View More</button>
            </div>
        </div>
    </div>

    <!-- offering -->
    <section class="offering">
        <div class="warp">
            <h2>Services we're <span>offering</span></h2>
            <div class="main">
                <ul class="clear">
                    <li>
                        <div class="card">
                            <img src="./imgs/s1.jpg" alt="" />
                            <i class="fa fa-search"></i>
                            <div class="lop">
                                <div>
                                    <h1>Measurements</h1>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, consectetur.</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="card">
                            <img src="./imgs/s2.jpg" alt="" />
                            <i class="fa fa-search"></i>
                            <div class="lop">
                                <div>
                                    <h1>Measurements</h1>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, consectetur.</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="card">
                            <img src="./imgs/s3.jpg" alt="" />
                            <i class="fa fa-search"></i>
                            <div class="lop">
                                <div>
                                    <h1>Measurements</h1>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, consectetur.</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="card">
                            <img src="./imgs/s4.jpg" alt="" />
                            <i class="fa fa-search"></i>
                            <div class="lop">
                                <div>
                                    <h1>Measurements</h1>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, consectetur.</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="btn">
                <div>View More Services</div>
            </div>
        </div>
    </section>

    <!-- Clients -->
    <section class="clients">
        <div class="warp">
            <h2 class="tit">What <span>we do</span> for our <span>Clients?</span></h2>
            <ul class="clients-main clear">
                <li>
                    <div class="card">
                        <div class="icon">
                            <i class="fa fa-user"></i>
                            <span>01</span>
                        </div>
                        <div class="text">
                            <a class="title">Unique Design</a>
                            <p>
                                Lorem ipsum dolor sit amet sed consectetur adipisicing elit.
                                doloret quas saepe autem, dolor set.
                            </p>
                            <a>Read more</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card">
                        <div class="icon">
                            <i class="fa fa-user"></i>
                            <span>01</span>
                        </div>
                        <div class="text">
                            <a class="title">Unique Design</a>
                            <p>
                                Lorem ipsum dolor sit amet sed consectetur adipisicing elit.
                                doloret quas saepe autem, dolor set.
                            </p>
                            <a>Read more</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card">
                        <div class="icon">
                            <i class="fa fa-user"></i>
                            <span>01</span>
                        </div>
                        <div class="text">
                            <a class="title">Unique Design</a>
                            <p>
                                Lorem ipsum dolor sit amet sed consectetur adipisicing elit.
                                doloret quas saepe autem, dolor set.
                            </p>
                            <a>Read more</a>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
    </section>

    <section class="experience">
        <div class="warp clear">
            <div class="info">
                <h2 class="tit">25 <span>years</span> of experience</h2>
                <p>At corrupti odit At iure facere, porro repellat officia quas, dolores magnam assumenda soluta odit
                    harum maiores fugiat accusamus eos nulla. Iure voluptatibus explicabo officia.
                </p>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. At, corrupti odit? At iure facere, porro
                    repellat officia quas, dolores magnam assumenda soluta odit harum.
                </p>
                <button class="btn">Know more about us</button>
            </div>
            <div class="medio">
                <div class="bord">
                    <div class="audio">
                        <img src="./imgs/about.jpg" alt="" />
                        <i class="fa fa-play"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="deliver">
        <div class="lop"></div>
        <div class="warp clear">
            <div class="info">
                <h2 class="tit">Your <span>Design</span>, We <span>deliver</span></h2>
                <p>Lorem ipsum dolor sit amet elit. Velit beatae rem ullam dolore nisi esse quasi. Integer sit amet.
                    Lorem ipsum dolor sit amet elit.</p>
            </div>
            <div class="btn">
                <button>Book your appointment</button>
            </div>
        </div>
    </section>

    <section class="works">
        <div class="top clear">
            <div class="info">
                <h2 class="tit"><span>Our</span> Works</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur hic odio consequatur.Lorem
                    ipsum dolor sit amet consectetur adipisicing elit. Velit beatae laudantium rem ullam dolore nisi.
                    Integer sit amet mattis quam.</p>
                <button>Read More</button>
            </div>
            <div class="t-r"></div>
        </div>
        <div class="bottom clear">
            <div class="designs fl">
                <div></div>
                <div class="info">
                    <div class="card">
                        <i class="fa fa-user"></i>
                        <h3>Our Designs</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
                    </div>
                </div>
            </div>
            <div class="new-style fl">
                <div></div>
                <div class="info">
                    <div class="card">
                        <i class="fa fa-user"></i>
                        <h3>New Style</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="posts">
        <div class="warp">
            <h2 class="tit"><span>Our</span> Blog Posts</h2>
            <ul class="clear">
                <li>
                    <div class="card">
                        <div class="bg">
                            <img src="./imgs/blog1.jpg" alt="">
                            <div class="lop">
                                <div class="icon">
                                    <i class="fa fa-search"></i>
                                </div>
                            </div>
                        </div>
                        <div class="main">
                            <div class="user clear">
                                <span class="fl">
                                    <i class="fa fa-user"></i>
                                    <a href="#">Mauree</a>
                                </span>
                                <span class="fr">
                                    <i class="fa fa-user"></i>
                                    Nov 16, 2021.
                                </span>
                            </div>
                            <h3><a href="#">Set a Fashion Trend!</a></h3>
                            <p>
                                At corrupti odit At iure facere, porro repellat officia quas, magnam assumenda.
                            </p>
                            <div>
                                Read More
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card">
                        <div class="bg">
                            <img src="./imgs/blog2.jpg" alt="">
                            <div class="lop">
                                <div class="icon">
                                    <i class="fa fa-search"></i>
                                </div>
                            </div>
                        </div>
                        <div class="main">
                            <div class="user clear">
                                <span class="fl">
                                    <i class="fa fa-user"></i>
                                    <a href="#">Mauree</a>
                                </span>
                                <span class="fr">
                                    <i class="fa fa-user"></i>
                                    Nov 16, 2021.
                                </span>
                            </div>
                            <h3><a href="#">Set a Fashion Trend!</a></h3>
                            <p>
                                At corrupti odit At iure facere, porro repellat officia quas, magnam assumenda.
                            </p>
                            <div>
                                Read More
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card">
                        <div class="bg">
                            <img src="./imgs/blog3.jpg" alt="">
                            <div class="lop">
                                <div class="icon">
                                    <i class="fa fa-search"></i>
                                </div>
                            </div>
                        </div>
                        <div class="main">
                            <div class="user clear">
                                <span class="fl">
                                    <i class="fa fa-user"></i>
                                    <a href="#">Mauree</a>
                                </span>
                                <span class="fr">
                                    <i class="fa fa-user"></i>
                                    Nov 16, 2021.
                                </span>
                            </div>
                            <h3><a href="#">Set a Fashion Trend!</a></h3>
                            <p>
                                At corrupti odit At iure facere, porro repellat officia quas, magnam assumenda.
                            </p>
                            <div>
                                Read More
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>


    <footer class="foot">
        <div class="lop"></div>
        <div class="warp">
            <div class="list clear">
                <ul class="fl">
                    <li class="tit">Dress<span>-Up</span></li>
                    <li>
                        Nam libero tempore, cum soluta nobis est elige endi optio cumque nihil impedit quo minus id quod
                        maxime placeat facere. Istee natuser iumedolo ladase.
                    </li>
                    <li class="icon">
                        <i class="fa fa-facebook"></i>
                        <i class="fa fa-linkedin"></i>
                        <i class="fa fa-twitter"></i>
                        <i class="fa fa-google-plus"></i>
                        <i class="fa fa-github"></i>
                    </li>
                </ul>
                <ul class="fl">
                    <li class="tit">Quick Link</li>
                    <li>Home</li>
                    <li>About Us</li>
                    <li>Services</li>
                    <li>Blog Posts</li>
                    <li>Contact Us</li>
                </ul>
                <ul class="fl">
                    <li class="tit">Contact Info</li>
                    <li>
                        10001, 5th Avenue, #32841 block, USA
                    </li>
                    <li class="independent"> +1223 456 790</li>
                    <li class="independent">info@example.com</li>
                    <li class="independent">www.example.com</li>
                </ul>
                <ul class="fl">
                    <li class="tit">
                        Opening Hours
                    </li>
                    <li>Monday<span>9:00 - 18:00</span>
                    </li>
                    <li>Tuesday<span>10:00 - 19:00</span></li>
                    <li>Wednesday<span>8:00 - 17:00</span></li>
                    <li>Thursday<span>10:00 - 19:00</span></li>
                    <li>Friday<span>10:00 - 19:00</span></li>
                    <li>Saturday<span>10:00 - 19:00</span></li>
                    <li>Sunday<span>Closed</span></li>
                </ul>
            </div>
            <div class="text">© 2021 Dress-Up. All rights reserved. <a href="#">网页模板</a></div>
        </div>
    </footer>

    <!-- arrow -->
    <div class="arrow">
        <i class="fa fa-arrow-up"></i>
    </div>
    <script>
        // var h = window.screenTop;
        // console.log(h);
        let arrow = document.getElementsByClassName('arrow')[0];
        function fnscr() {
            let nav = document.getElementById('nav')
            let nava = document.querySelector('nav ul>li>a')
            var h = window.scrollY;
            h = Math.floor(h);
            // console.log(h);
            if (h > 80) {
                nav.className = 'active'
                arrow.style.opacity = '1'
            } else {
                nav.className = ''
                arrow.style.opacity = '0'
            }
        }
        function fnarrow() {
            if (scrollY > 100) {
                var oll = setInterval(function () {
                    scrollBy(0, -100)
                }, 10)
            }
            document.addEventListener('scroll', function () {
                if (scrollY === 0) {
                    clearInterval(oll)
                }
            })
        }
        document.addEventListener('scroll', function () {
            fnscr()
        })
        arrow.addEventListener('click', function () {
            fnarrow()
        })

    </script>
</body>

</html>