<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/minireset.css/0.0.2/minireset.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
    <!-- <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
        rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=DM+Sans:300,400,700|Indie+Flower" rel="stylesheet">
    <link rel="stylesheet" href="./less/style.css">
</head>

<body>

    <div class="bigbg">
        <div class="warp">

            <div class="head clear">
                <div class="logo fl">
                    <a href="#">Kiddy<span>.</span></a>
                </div>
                <div class="info fr">
                    <div class="site">
                        <i class="fa fa-map-marker"></i>
                        <span>34 Street Name, City Name Here,
                            United States</span>
                    </div>
                    <div class="time">
                        <i class="fa fa-clock-o"></i>
                        <span>Sunday - Friday 8:00AM - 4:00PM
                            Saturday CLOSED</span>
                    </div>
                </div>
            </div>


            <div class="daoh clear">
                <ul class="nav">
                    <li><a href="#">Home</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Packages</a></li>
                    <li><a href="">Gallery</a></li>
                    <li><a href="">Pricing</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
                <div class="icon">
                    <i class="fa fa-facebook"></i>
                    <i class="fa fa-twitter"></i>
                    <i class="fa fa-linkedin"></i>
                </div>
            </div>


            <div class="info">
                <span>Welcome To Our Website</span>
                <h2>Bring Fun Life To Your Kids</h2>
                <p>Amazing Playground for your kids</p>
                <a href="#">LEARN MORE</a>
            </div>
        </div>
    </div>
    <div class="games">
        <div class="warp">
            <ul class="clear">
                <li>
                    <div class="card">
                        <i class="fa fa-home"></i>
                        <h2>Indoor Games</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima nesciunt, mollitia, hic enim
                            id culpa.</p>
                    </div>
                </li>
                <li>
                    <div class="card">
                        <i class="fa fa-user"></i>
                        <h2>Outdoor Game And Event</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima nesciunt, mollitia, hic enim
                            id culpa.</p>
                    </div>
                </li>
                <li>
                    <div class="card">
                        <i class="fa fa-cog"></i>
                        <h2>Camping for Kids</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima nesciunt, mollitia, hic enim
                            id culpa.</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>


    <div class="kids">
        <div class="warp clear">
            <div class="left"></div>
            <div class="right">
                <span>About Us</span>
                <h2>Bring Fun Life To Your Kids</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et harum, magni sequi nostrum maxime
                    enim.Magnam id atque dicta deleniti, ipsam ipsum distinctio. Facilis praesentium voluptatem
                    accusamus, earum veritatis, laudantium.</p>
                <a href="#">
                    MORE ABOUT US
                </a>
            </div>
        </div>
    </div>

    <!-- Packages -->
    <div class="packages">
        <div class="warp">
            <div class="title">
                <p>Packages You Like</p>
                <h2>Our Packages</h2>
            </div>
            <ul class="clear">
                <li>
                    <div class="card">
                        <img src="./img/001-jigsaw.svg" alt="">
                        <h3>Indoor Games</h3>
                        <p>
                            Lorem ipsum dolor sit amet. Consequatur aliquam, fuga maiores amet quo corporis distinctio
                            soluta recusandae?
                        </p>
                        <a href="#">LEARN MORE</a>
                    </div>
                </li>
                <li>
                    <div class="card">
                        <img src="./img/002-target.svg" alt="">
                        <h3>Indoor Games</h3>
                        <p>
                            Lorem ipsum dolor sit amet. Consequatur aliquam, fuga maiores amet quo corporis distinctio
                            soluta recusandae?
                        </p>
                        <a href="#">LEARN MORE</a>
                    </div>
                </li>
                <li>
                    <div class="card">
                        <img src="./img/003-mission.svg" alt="">
                        <h3>Indoor Games</h3>
                        <p>
                            Lorem ipsum dolor sit amet. Consequatur aliquam, fuga maiores amet quo corporis distinctio
                            soluta recusandae?
                        </p>
                        <a href="#">LEARN MORE</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <!-- Pricing -->
    <div class="pricing">
        <div class="warp clear">
            <div class="info">
                <span>Pricing Plan</span>
                <h2>Our Pricing</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo quis cupiditate fugit, voluptatibus
                    ullam, non laboriosam alias veniam, ex inventore iure sed?</p>
            </div>
            <div class="price1">
                <div>
                    <span>
                        $30
                    </span>
                </div>
                <h3>Silver Pack</h3>
                <ul>
                    <li><i class="fa fa-check"></i> Lorem ipsum dolor sit amet</li>
                    <li><i class="fa fa-check"></i> Consectetur adipisicing elit</li>
                    <li><i class="fa fa-check"></i> Nemo quis cupiditate</li>
                </ul>
                <a href="#">BUY NOW</a>
            </div>
            <div class="price2">
                <div>
                    <span>
                        $70
                    </span>
                </div>
                <h3>Golden Pack</h3>
                <ul>
                    <li><i class="fa fa-check"></i> Lorem ipsum dolor sit amet</li>
                    <li><i class="fa fa-check"></i> Consectetur adipisicing elit</li>
                    <li><i class="fa fa-check"></i> Nemo quis cupiditate</li>
                </ul>
                <a href="#">BUY NOW</a>
            </div>
        </div>
    </div>

    <!-- Testimonial -->
    <div class="testimonial">
        <div class="warp">
            <div class="title">
                <p>Testimonial</p>
                <h2>What Our Client Says About Us</h2>
            </div>
            <div class="card clear">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                <div class="left">
                    <img src="./img/person_2.jpg" alt="">
                </div>
                <div class="right">
                    <h3>Jeff Woodland</h3>
                    <span>Partner</span>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam earum libero rem maxime
                        magnam. Similique esse ab earum, autem consectetur.
                    </p>
                </div>
            </div>
            <ul class="clear">
                <li>
                    <p>3423</p>
                    <span>Happy Client</span>
                </li>
                <li>
                    <p>4398</p>
                    <span>Members</span>
                </li>
                <li>
                    <p>50+</p>
                    <span>Staffs</span>
                </li>
                <li>
                    <p>2000+</p>
                    <span>Our Followers</span>
                </li>
            </ul>
        </div>
    </div>

    <section class="bring">
        <div class="warp clear">
            <div class="text">Bring Fun Life To Your Kids</div>
            <a href="#">GET STARTED</a>
        </div>
    </section>

    <footer>
        <div class="warp">
            <div class="top clear">
                <div class="left">
                    <h2>About Us</h2>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there
                        live the blind texts.</p>
                    <h2>Newsletter</h2>
                    <input type="text" placeholder="Email"><button>SEND</button>
                </div>
                <ul>
                    <li class="tit">Navigation</li>
                    <li>About Us</li>
                    <li>Testimonials</li>
                    <li>Terms of Service</li>
                    <li>Privacy</li>
                    <li>Contact Us</li>
                </ul>
                <ul>
                    <li class="tit">Navigation</li>
                    <li>About Us</li>
                    <li>Testimonials</li>
                    <li>Terms of Service</li>
                    <li>Privacy</li>
                    <li>Contact Us</li>
                </ul>
            </div>
            <div class="bottom">
                <p>
                    Copyright ©2022 All rights reserved | This template is made with <i class="fa fa-heart"></i> by
                    17sucai
                </p>
            </div>
        </div>
    </footer>
</body>

</html>